h1, h2, h3{
    margin-bottom: 1rem;

}

.gamecontainer{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 0px;
    grid-template-rows: repeat(8,1fr);
    grid-template-areas: 
    "a a b b b b c c"
    "a a b b b b c c"
    "a a b b b b c c"
    "a a b b b b c c";
}

.darkmagician {
    grid-area: a;
    background-image: url(./photo/darkmagician.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 2px solid black;
}

.blueeyes {
    grid-area: c;
    background-image: url(./photo/blueeyes.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 2px solid black;
}

.container {
    grid-area: b;
    text-align: center;
    width: 100%;
        border: 2px solid black;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.board button{
    width: 4rem;
    height: 4rem;
    background-color: gray;
    margin: 1px;
    border: 4px solid black;
    border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
    .gamecontainer{
    grid-template-areas: 
    "a b b b b b b c"
    "a b b b b b b c"
    "a b b b b b b c"
    "a b b b b b b c";
    }

}